<%- include('header') -%> <%- include('navbar') -%>
			<button class="standard-btn" id="newMatchBtn">New match</button>
			<section class="list-container">
					<% matches.forEach(match => { %>
				<div class="list-item">
					<div class="first-col">
						<p class="teams"><%= match.homeTeam%> - <%= match.awayTeam%></p>
						<p class="date"><%=moment(match.date).format('YYYY. MM. DD. HH:mm'); %></p>
					</div>
					<div class="input-col">
						<input type="text" name="homeScore" form="setResultForm<%= match.id%>" value="<%= match.result.homeScore %>" />
						<p class="input-separator">-</p>
						<input type="text" name="awayScore" form="setResultForm<%= match.id%>" value="<%= match.result.awayScore %>" />
					</div>
					<div class="last-col">
						<form id="setResultForm<%= match.id%>" action="/admin/<%= match.id%>/setresult" method="POST">
							<button type="submit" <% if(!moment().isAfter(match.date)){ %> disabled <% } %> class="list-item-btn">Set result</button>
						</form>
						<form action="/admin/<%= match.id%>/delete" method="POST">
							<button type="submit" class="list-item-btn">Remove</button>
						</form>
					</div>
				</div>
			
				<% })%>
			</section>

		<div class="newMatchContainer" id="newMatchContainer"></div>
		<form method='POST' action="/admin/newmatch" class="newMatchInputContainer" id="newMatchInputContainer">
			<h2>New match</h2>
			<input
				type="text"
				class="newMatchTextInput"
				placeholder="Home team"
				name="homeTeam"
				required
			/>
			<input
				type="text"
				class="newMatchTextInput"
				placeholder="Away team"
				name="awayTeam"
				required
			/>
			<input
				type="datetime-local"
				id="newMatchDatePicker"
				value="<%= moment().format('YYYY-MM-DDTHH:mm'); %>"
				min="2021-01-01"
				max="2100-12-31"
				name="date"
			/>
			<button id="newMatchBtn" type="submit" class="standard-btn">Add match</button>
		</form>

		<script>
			document.getElementById('newMatchBtn').onclick = function () {
				document.getElementById('newMatchContainer').style.display = 'block';
				document.getElementById('newMatchInputContainer').style.display =
					'flex';
			};
			document.getElementById('newMatchContainer').onclick = function () {
				document.getElementById('newMatchContainer').style.display = 'none';
				document.getElementById('newMatchInputContainer').style.display =
					'none';
			};
		</script>
	</body>
</html>
