<%- include('header') -%> <%- include('navbar') -%>
<section class="list-container">
	<% leaderboard.forEach(player => { %>
	<div class="list-item">
		<div class="player-col">
			<p class="rank"><%= player.rank %>.</p>
			<p class="player-name"><%= player.name %></p>
		</div>
		<div class="point-col">
			<p><%= player.score %>p</p>
		</div>
	</div>
	<% })%>
</section>
<%- include('footer') -%>
