<%- include('header') -%> <%- include('navbar') -%>
<section class="list-container">
	<% results.forEach(match => { %>
	<div class="list-item">
		<div class="first-col">
			<p class="teams"><%= match.homeTeam%> - <%= match.awayTeam%></p>
			<p class="date"><%= match.date %></p>
		</div>
		<div class="result-col">
			<p>Result:</p>
			<p><%= match.homeScore %></p>
			<p class="input-separator">-</p>
			<p><%= match.awayScore %></p>
		</div>
		<div class="tip-col">
			<p>Your tip:</p>
			<p><%= match.bet.homeTeam %></p>
			<p class="input-separator">-</p>
			<p><%= match.bet.awayTeam %></p>
		</div>
		<div class="point-col"><p>+<%= match.score %>p</p></div>
	</div>
	<% })%>
</section>
<%- include('footer') -%>
