<%- include('header') -%> <%- include('navbar') -%>
<section class="list-container">
	<% matches.forEach(match => { %>
	<div class="list-item">
		<div class="first-col">
			<p class="teams"><%= match.homeTeam%> - <%= match.awayTeam%></p>
			<p class="date">
				<%=moment(match.date).format('YYYY. MM. DD. HH:mm'); %>
			</p>
		</div>

		<div class="input-col">
			<input
				name="homeScore"
				type="text"
				form="makeBetForm<%= match.id%>"
				value="<%= match.betHome%>"
			/>
			<p class="input-separator">-</p>
			<input
				name="awayScore"
				type="text"
				form="makeBetForm<%= match.id%>"
				value="<%= match.betAway%>"
			/>
		</div>
		<div class="last-col">
			<form
				id="makeBetForm<%= match.id%>"
				action="/upcoming/<%= match.id%>/makebet"
				method="POST"
			>
				<button type="submit" class="list-item-btn">Save bet</button>
			</form>
		</div>
	</div>
	<% })%>
</section>
<%- include('footer') -%>
